<form id="form_chamados" action="<%=gerar_project_chamados_path%>" method="post">
Versão:<br/>
<input type="text" name="version" value="<%=@version%>"/><br/>
Conteúdo:<br/>
<textarea style="width:90%;height:500px;" name="content">

</textarea>
<br/>
<input type="submit" value="OK, Criar chamado"/>
</form>